@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,300;1,400&display=swap');
*{
    margin:0;
    padding:0;
    border:none;
}

body 
{
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a ;
}
h1,h2
{
    font-family: Oswald,sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}
#logo
{
float:left;
font-size: 280%;
}
#menu
{
font-size: 110%;
letter-spacing: 4px;
}
#menu #logo{
    line-height: 75px;

}
#menu li
{
    float: right;
    list-style: none;
    margin-right: 30px;
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}
.active{
border-bottom: 1px solid #3a3a3a;
}
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;}
    #cover-text, #cover-text h2 {
        color: #fff;
        position: relative;
    }
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}